@mixin employeeElementWidth($minWidth, $width) {

    @media screen and (min-width: $minWidth) {

        .employee-list {
    
            li {
                width: $width;
            }
        }
    }

}