@import 'mixins/employeeSearchMixin';

$smMinWidth: 768px;
$mdMinWidth: 992px;
$lgMinWidth: 1200px;

$labelFont: 'arial';
$labelColor: #0080af;
$inputColor: #d5dae0;
    
.employee-search {
    
    margin: 15px 47px;
    
    h3 {
        font-family: $labelFont;
        font-size: 44px;
        color: $labelColor;
    }

    input {
        margin-top: 40px;
        height: 56px;
        font-family: $labelFont;
        font-size: 20px;
        letter-spacing: 2px;
        border-color: $inputColor;
        color: $inputColor;
    }
}

.employee-list {
    
    list-style: none;
    padding: 0;
    
    li {
        display: block;
        margin-top: 28px;
        float: left;
        width: 100%;
    }

    img {
        margin: 0 auto;
    }

    h4 {
        text-align: center;

        font-family: $labelFont;
        font-size: 1.8em;
        color: $labelColor;
    }
}

@include employeeElementWidth($smMinWidth, 50%);
@include employeeElementWidth($mdMinWidth, 33.33%);
@include employeeElementWidth($lgMinWidth, 33.33%);
