<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AMP code test</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <link type="text/css" rel="stylesheet" href="build/site.css" />
</head>

<!--<body style="background: url(creative/desktop.png) 0 0 no-repeat">-->
<body>

    <section ng-controller="EmployeeController" class="employee-search container">

        <div class="row">
            <div class="col-sm-10">
                
                <h3>People Search</h3>
                <form>
                    <input type="search" class="form-control" ng-model="filterTerm" placeholder="enter your search term"/>
                </form>
                
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
                
                <ul class="employee-list">
                    <li ng-repeat="employee in employeeList | filter:filterTerm as results">
                        <img class="img-responsive" ng-src="{{employee.imgUrl}}"/>
                        <h4>{{employee.name}}</h4>
                    </li>
                </ul>
                
            </div>
        </div>
    </section>

    <script src="data.js"></script>
    <script src="app/app.js"></script>
    <script src="app/models/Employee.js"></script>
    <script src="app/services/EmployeeService.js"></script>
    <script src="app/controllers/EmployeeController.js"></script>

</body>
</html>